<launch>
  <!-- Initial Parameters-->
  <arg name="rviz" default="true"/>
  <arg name="stage" default="1"/>
  <arg name="world" default="$(find
    searcherbot_bringup)/world/stage$(arg stage).world"/>

  <!-- Gazebo World -->
  <include file="$(find searcherbot_bringup)/launch/world.launch">
    <arg name="world" value="$(arg world)"/>
  </include>
  
  <!-- Spawn Robot -->
  <include file="$(find searcherbot_bringup)/launch/spawn.launch"/>

  <!-- Launch Navigation
  <include file="$(find searcherbot_navigation)/launch/navigation.launch"/> -->

  <!-- Rviz Settings -->
  <group if="$(eval arg('rviz') == true)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find searcherbot_description)/rviz/searcherbot.rviz"/>
  </group>

</launch>