<launch>

  <!-- robot description parameter -->
  <param name="robot_description" command=
    "$(find xacro)/xacro $(find searcherbot_description)/urdf/searcherbot.xacro"/>
  
  <!-- Links and Joints visualization -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" > 
    <param name="publish_frequency" type="double" value="50.0" /> 
  </node>

  <!-- Spawn Model -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model searcherbot -param robot_description -x 0 -y 0"/>

</launch>